nodered_SERVER.json
[
    {
        "id": "c56d6c2de4c28875",
        "type": "tab",
        "label": "Proyecto",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cdad4a064fd9064b",
        "type": "group",
        "z": "c56d6c2de4c28875",
        "name": "LED",
        "style": {
            "fill": "#c8e7a7",
            "fill-opacity": "0.2",
            "label": true
        },
        "nodes": [
            "16fded412834b3bb",
            "a7c5d9db618f8872"
        ],
        "x": 28,
        "y": 333,
        "w": 1344,
        "h": 314
    },
    {
        "id": "c6cfdbdf7a263e02",
        "type": "group",
        "z": "c56d6c2de4c28875",
        "name": "Datos",
        "style": {
            "fill": "#b797cf",
            "fill-opacity": "0.2",
            "label": true
        },
        "nodes": [
            "857f8b75e30f9af7",
            "cc4fac8ed2298512",
            "27ef5dca2f49fd60",
            "521aa306c30b98d7",
            "6c2b971d2674cfb3",
            "5f4bd5c991c97556",
            "45d54ac36acb05cc",
            "bfc4b47d808ca9ae",
            "66cd3e1db6a37a44",
            "f6ef94cba8dddde4",
            "b52dfb4de62fe4ab",
            "893186258fd5a73b",
            "2556617404ea77e6"
        ],
        "x": 14,
        "y": 659,
        "w": 752,
        "h": 282
    },
    {
        "id": "7a2c141ec0ba1873",
        "type": "group",
        "z": "c56d6c2de4c28875",
        "name": "Switch",
        "style": {
            "stroke": "#a4a4a4",
            "label": true,
            "fill": "#bfdbef",
            "fill-opacity": "0.3"
        },
        "nodes": [
            "cb87577f66361811",
            "c41961299258c626",
            "360a827874cde46b",
            "804628848b5f5465",
            "ae7656d195a3a244",
            "43f999a0952c319b",
            "05eb903fe4be6d37",
            "8568acb5fd35a1b1"
        ],
        "x": 794,
        "y": 659,
        "w": 572,
        "h": 222
    },
    {
        "id": "16fded412834b3bb",
        "type": "group",
        "z": "c56d6c2de4c28875",
        "g": "cdad4a064fd9064b",
        "name": "Color",
        "style": {
            "label": true
        },
        "nodes": [
            "4e9fe0c05d2b84d7",
            "4c0d83eaf2ebf96b",
            "4c43d69971eb6bb1",
            "6ee224836a9838c2",
            "8a83848f4ef7a0e2",
            "355abadc47d12743",
            "225cadd35fa60a1c",
            "d74a2eb3231ed44a",
            "f233c41046b20782",
            "a325535685f12bbf"
        ],
        "x": 54,
        "y": 359,
        "w": 612,
        "h": 262
    },
    {
        "id": "a7c5d9db618f8872",
        "type": "group",
        "z": "c56d6c2de4c28875",
        "g": "cdad4a064fd9064b",
        "name": "Brillo",
        "style": {
            "label": true
        },
        "nodes": [
            "577706416446e535",
            "80d37808ca6d9910",
            "930e67a1014a9842",
            "608bcb3c7b295ca4",
            "d487b511ef9c1518",
            "1df5c656d82209fe",
            "fc3f4e8216fde824",
            "b77c22f2e152d58a",
            "9bd8a05c918ddb3c",
            "b0510a126b466cd2",
            "759db0777e841359",
            "da678a61bc41b129"
        ],
        "x": 694,
        "y": 359,
        "w": 652,
        "h": 262
    },
    {
        "id": "5ff9e86f9698e695",
        "type": "group",
        "z": "c56d6c2de4c28875",
        "name": "Conexión",
        "style": {
            "fill": "#dbcbe7",
            "label": true,
            "fill-opacity": "0.49"
        },
        "nodes": [
            "e493744c4d53c551",
            "92aab530a24cdf5f",
            "4f6ee14e84c47401",
            "a2b5e6b77e01b75a",
            "b118104fe90db9c6",
            "127ca1831f227bec",
            "c2ae8c489e5dce55"
        ],
        "x": 34,
        "y": 139,
        "w": 532,
        "h": 182
    },
    {
        "id": "577706416446e535",
        "type": "mqtt in",
        "z": "c56d6c2de4c28875",
        "g": "a7c5d9db618f8872",
        "name": "LED Brillo Pub",
        "topic": "II16/esp32c3-D9D878/led/brillo/estado",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "dcc291bb801e1410",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 820,
        "y": 400,
        "wires": [
            [
                "930e67a1014a9842",
                "608bcb3c7b295ca4"
            ]
        ]
    },
    {
        "id": "4e9fe0c05d2b84d7",
        "type": "mqtt in",
        "z": "c56d6c2de4c28875",
        "g": "16fded412834b3bb",
        "name": "LED Color Pub",
        "topic": "II16/esp32c3-D9D878/led/color/estado",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "dcc291bb801e1410",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 400,
        "wires": [
            [
                "4c43d69971eb6bb1",
                "8a83848f4ef7a0e2"
            ]
        ]
    },
    {
        "id": "80d37808ca6d9910",
        "type": "mqtt out",
        "z": "c56d6c2de4c28875",
        "g": "a7c5d9db618f8872",
        "name": "LED Brillo Sub",
        "topic": "II16/esp32c3-D9D878/led/brillo",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dcc291bb801e1410",
        "x": 1180,
        "y": 520,
        "wires": []
    },
    {
        "id": "4c0d83eaf2ebf96b",
        "type": "mqtt out",
        "z": "c56d6c2de4c28875",
        "g": "16fded412834b3bb",
        "name": "LED Color Sub",
        "topic": "II16/esp32c3-D9D878/led/color",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dcc291bb801e1410",
        "x": 500,
        "y": 580,
        "wires": []
    },
    {
        "id": "e493744c4d53c551",
        "type": "mqtt in",
        "z": "c56d6c2de4c28875",
        "g": "5ff9e86f9698e695",
        "name": "Conexion",
        "topic": "II16/esp32c3-D9D878/conexion",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "dcc291bb801e1410",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 220,
        "wires": [
            [
                "92aab530a24cdf5f",
                "127ca1831f227bec",
                "c2ae8c489e5dce55",
                "4f6ee14e84c47401"
            ]
        ]
    },
    {
        "id": "92aab530a24cdf5f",
        "type": "debug",
        "z": "c56d6c2de4c28875",
        "g": "5ff9e86f9698e695",
        "name": "Conexion",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 180,
        "wires": []
    },
    {
        "id": "930e67a1014a9842",
        "type": "debug",
        "z": "c56d6c2de4c28875",
        "g": "a7c5d9db618f8872",
        "name": "LED Brillo",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 400,
        "wires": []
    },
    {
        "id": "4c43d69971eb6bb1",
        "type": "debug",
        "z": "c56d6c2de4c28875",
        "g": "16fded412834b3bb",
        "name": "LED Color",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 400,
        "wires": []
    },
    {
        "id": "6ee224836a9838c2",
        "type": "ui_led",
        "z": "c56d6c2de4c28875",
        "g": "16fded412834b3bb",
        "order": 4,
        "group": "9e8a9cec0b15cf59",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "{ \"level\":0 }",
                "valueType": "json"
            },
            {
                "color": "#ffffff",
                "value": "{ \"level\":1 }",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": true,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 590,
        "y": 460,
        "wires": []
    },
    {
        "id": "8a83848f4ef7a0e2",
        "type": "function",
        "z": "c56d6c2de4c28875",
        "g": "16fded412834b3bb",
        "name": "RGB2Hex",
        "func": "function decimalToHex(d) {\n    var hex = d.toString(16);\n    if (hex.length == 1) hex = \"0\" + hex;\n    return hex;\n}\nvar colorHEX = \"#\" + decimalToHex(msg.payload.R)\n    + decimalToHex(msg.payload.G)\n    + decimalToHex(msg.payload.B);\nmsg.colorForValue = {};\nmsg.colorForValue[\"micolor\"] = colorHEX;\nmsg.payload = \"micolor\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 460,
        "wires": [
            [
                "6ee224836a9838c2",
                "f233c41046b20782"
            ]
        ]
    },
    {
        "id": "355abadc47d12743",
        "type": "inject",
        "z": "c56d6c2de4c28875",
        "g": "16fded412834b3bb",
        "name": "Color de LED",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"CHIPID\":\"esp32c3-D9D878\",\"R\":0,\"G\":0,\"B\":255}",
        "payloadType": "json",
        "x": 170,
        "y": 460,
        "wires": [
            [
                "8a83848f4ef7a0e2",
                "4c43d69971eb6bb1"
            ]
        ]
    },
    {
        "id": "608bcb3c7b295ca4",
        "type": "function",
        "z": "c56d6c2de4c28875",
        "g": "a7c5d9db618f8872",
        "name": "Recibo Brillo",
        "func": "// Parseamos el payload recibido\nlet payload = msg.payload;\n\ntry {\n    // Aseguramos que el payload es un objeto\n    if (typeof payload === 'string') {\n        payload = JSON.parse(payload);\n    }\n\n    // Extraemos los valores\n    let chipId = payload.CHIPID || \"Desconocido\";\n    let brillo = payload.LED !== undefined ? payload.LED : \"No especificado\";\n    let origen = payload.origen || \"No especificado\";\n    let id = payload.id ? ` con ID: ${payload.id}` : \"\";\n\n    // Creamos el mensaje de salida\n    let texto = `El brillo actual del LED es ${brillo} y el comando proviene de ${origen}${id}. (CHIPID: ${chipId})`;\n\n    // Pasamos el mensaje generado como nuevo payload\n    msg.payload = texto;\n\n    return msg;\n} catch (err) {\n    node.error(\"Error al procesar el mensaje: \" + err.message);\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 460,
        "wires": [
            [
                "1df5c656d82209fe",
                "fc3f4e8216fde824"
            ]
        ]
    },
    {
        "id": "d487b511ef9c1518",
        "type": "inject",
        "z": "c56d6c2de4c28875",
        "g": "a7c5d9db618f8872",
        "name": "Brillo",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"CHIPID\":\"esp32c3-XXXX\", \"LED\":100, \"origen\":\"mqtt\", \"id\":\"123456789\"}",
        "payloadType": "json",
        "x": 850,
        "y": 460,
        "wires": [
            [
                "608bcb3c7b295ca4"
            ]
        ]
    },
    {
        "id": "1df5c656d82209fe",
        "type": "debug",
        "z": "c56d6c2de4c28875",
        "g": "a7c5d9db618f8872",
        "name": "LED Brillo Origen",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1210,
        "y": 400,
        "wires": []
    },
    {
        "id": "fc3f4e8216fde824",
        "type": "ui_text",
        "z": "c56d6c2de4c28875",
        "g": "a7c5d9db618f8872",
        "group": "9e8a9cec0b15cf59",
        "order": 6,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Brillo LED",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1180,
        "y": 460,
        "wires": []
    },
    {
        "id": "225cadd35fa60a1c",
        "type": "ui_colour_picker",
        "z": "c56d6c2de4c28875",
        "g": "16fded412834b3bb",
        "name": "",
        "label": "Elige Color",
        "group": "9e8a9cec0b15cf59",
        "format": "hex",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": false,
        "showValue": false,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "false",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 150,
        "y": 580,
        "wires": [
            [
                "d74a2eb3231ed44a",
                "f233c41046b20782"
            ]
        ]
    },
    {
        "id": "d74a2eb3231ed44a",
        "type": "function",
        "z": "c56d6c2de4c28875",
        "g": "16fded412834b3bb",
        "name": "Hex2RGB",
        "func": "// Obtener el color hexadecimal desde el payload\nlet hexColor = msg.payload;\n\n// Verificar que el color esté en formato hexadecimal de 6 caracteres\nif (hexColor.length === 6) {\n    // Convertir el valor hexadecimal a RGB\n    let r = parseInt(hexColor.substring(0, 2), 16);\n    let g = parseInt(hexColor.substring(2, 4), 16);\n    let b = parseInt(hexColor.substring(4, 6), 16);\n    \n    // Crear el objeto con los valores RGB\n    msg.payload = {\n        \"R\": r,\n        \"G\": g,\n        \"B\": b\n    };\n} else {\n    // Si el formato no es correcto, enviar un mensaje de error\n    msg.payload = { \"error\": \"Formato hexadecimal inválido\" };\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 580,
        "wires": [
            [
                "4c0d83eaf2ebf96b"
            ]
        ]
    },
    {
        "id": "b77c22f2e152d58a",
        "type": "ui_slider",
        "z": "c56d6c2de4c28875",
        "g": "a7c5d9db618f8872",
        "name": "",
        "label": "% Brillo",
        "tooltip": "",
        "group": "9e8a9cec0b15cf59",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 840,
        "y": 520,
        "wires": [
            [
                "9bd8a05c918ddb3c"
            ]
        ]
    },
    {
        "id": "9bd8a05c918ddb3c",
        "type": "function",
        "z": "c56d6c2de4c28875",
        "g": "a7c5d9db618f8872",
        "name": "LED Brillo",
        "func": "// Parámetros de entrada\nlet brillo = msg.payload; // Se espera que msg.payload sea el nivel de brillo\nlet chipId = \"esp32c3-D9D878\"; // Ajusta esto al ID real de tu dispositivo\nlet id = msg.id || null; // Opcional: se puede enviar un identificador como parte de msg.id\n\n// Creamos el mensaje\nlet mensaje = {\n    level: brillo\n};\n\n// Añadimos el ID si está disponible\nif (id) {\n    mensaje.id = id;\n}\n\n// Establecemos el nuevo mensaje para publicarlo en el topic requerido\nmsg.topic = `IIX/${chipId}/led/brillo`;\nmsg.payload = mensaje;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 520,
        "wires": [
            [
                "80d37808ca6d9910",
                "b0510a126b466cd2"
            ]
        ]
    },
    {
        "id": "b0510a126b466cd2",
        "type": "debug",
        "z": "c56d6c2de4c28875",
        "g": "a7c5d9db618f8872",
        "name": "Comando LED Brillo",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 580,
        "wires": []
    },
    {
        "id": "cc4fac8ed2298512",
        "type": "mqtt in",
        "z": "c56d6c2de4c28875",
        "g": "c6cfdbdf7a263e02",
        "name": "Datos",
        "topic": "II16/esp32c3-D9D878/datos",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "dcc291bb801e1410",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 760,
        "wires": [
            [
                "893186258fd5a73b",
                "2556617404ea77e6"
            ]
        ]
    },
    {
        "id": "27ef5dca2f49fd60",
        "type": "change",
        "z": "c56d6c2de4c28875",
        "g": "c6cfdbdf7a263e02",
        "name": "Temperatura",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.temp",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Temperatura",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 740,
        "wires": [
            [
                "6c2b971d2674cfb3",
                "45d54ac36acb05cc"
            ]
        ]
    },
    {
        "id": "521aa306c30b98d7",
        "type": "inject",
        "z": "c56d6c2de4c28875",
        "g": "c6cfdbdf7a263e02",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"CHIPID\":\"esp32c3-XXXX\", \"Uptime\":12300, \"DHT11\":{\"temp\":26.0,\"hum\":37.0}, \"Wifi\":{\"SSId\":\"infind\",\"IP\":\"192.168.0.100\",\"RSSI\":-56} }",
        "payloadType": "json",
        "x": 110,
        "y": 840,
        "wires": [
            [
                "893186258fd5a73b"
            ]
        ]
    },
    {
        "id": "857f8b75e30f9af7",
        "type": "change",
        "z": "c56d6c2de4c28875",
        "g": "c6cfdbdf7a263e02",
        "name": "Humedad",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.hum",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Humedad",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 700,
        "wires": [
            [
                "5f4bd5c991c97556",
                "45d54ac36acb05cc"
            ]
        ]
    },
    {
        "id": "6c2b971d2674cfb3",
        "type": "ui_widget_thermometer",
        "z": "c56d6c2de4c28875",
        "g": "c6cfdbdf7a263e02",
        "group": "9cb3afe23639a28c",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "title": "Temperatura",
        "numColor": 3,
        "colorTop": "#2196f3",
        "colorMiddle": "#e2e55d",
        "colorBottom": "#f44336",
        "unit": "°C",
        "scale": "normal",
        "minTemp": "-10",
        "maxTemp": "60",
        "minTempMoreThanMaxTemp": "1",
        "numberOfDecimals": "0",
        "showPercentage": "0",
        "x": 670,
        "y": 780,
        "wires": []
    },
    {
        "id": "5f4bd5c991c97556",
        "type": "ui_gauge",
        "z": "c56d6c2de4c28875",
        "g": "c6cfdbdf7a263e02",
        "name": "",
        "group": "9cb3afe23639a28c",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#c3e9f9",
            "#00e6cb",
            "#141ae1"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 680,
        "y": 700,
        "wires": []
    },
    {
        "id": "45d54ac36acb05cc",
        "type": "ui_chart",
        "z": "c56d6c2de4c28875",
        "g": "c6cfdbdf7a263e02",
        "name": "",
        "group": "9cb3afe23639a28c",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 690,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "bfc4b47d808ca9ae",
        "type": "ui_text",
        "z": "c56d6c2de4c28875",
        "g": "c6cfdbdf7a263e02",
        "group": "be165c6094b73de4",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SSId:",
        "format": "{{payload.Wifi.SSId}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 470,
        "y": 820,
        "wires": []
    },
    {
        "id": "66cd3e1db6a37a44",
        "type": "ui_text",
        "z": "c56d6c2de4c28875",
        "g": "c6cfdbdf7a263e02",
        "group": "be165c6094b73de4",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP:",
        "format": "{{payload.Wifi.IP}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 470,
        "y": 860,
        "wires": []
    },
    {
        "id": "f6ef94cba8dddde4",
        "type": "ui_text",
        "z": "c56d6c2de4c28875",
        "g": "c6cfdbdf7a263e02",
        "group": "be165c6094b73de4",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RSSI:",
        "format": "{{payload.Wifi.RSSI}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 470,
        "y": 900,
        "wires": []
    },
    {
        "id": "b52dfb4de62fe4ab",
        "type": "ui_text",
        "z": "c56d6c2de4c28875",
        "g": "c6cfdbdf7a263e02",
        "group": "be165c6094b73de4",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Uptime:",
        "format": "{{payload.Uptime}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 480,
        "y": 780,
        "wires": []
    },
    {
        "id": "893186258fd5a73b",
        "type": "function",
        "z": "c56d6c2de4c28875",
        "g": "c6cfdbdf7a263e02",
        "name": "Mas bonito",
        "func": "msg.payload=msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 800,
        "wires": [
            [
                "f6ef94cba8dddde4",
                "66cd3e1db6a37a44",
                "bfc4b47d808ca9ae",
                "27ef5dca2f49fd60",
                "857f8b75e30f9af7",
                "b52dfb4de62fe4ab"
            ]
        ]
    },
    {
        "id": "cb87577f66361811",
        "type": "mqtt out",
        "z": "c56d6c2de4c28875",
        "g": "7a2c141ec0ba1873",
        "name": "Switch Sub",
        "topic": "II16/esp32c3-D9D878/switch/cmd",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dcc291bb801e1410",
        "x": 1270,
        "y": 840,
        "wires": []
    },
    {
        "id": "c41961299258c626",
        "type": "mqtt in",
        "z": "c56d6c2de4c28875",
        "g": "7a2c141ec0ba1873",
        "name": "Switch Pub",
        "topic": "II16/esp32c3-D9D878/switch/status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "dcc291bb801e1410",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 880,
        "y": 760,
        "wires": [
            [
                "804628848b5f5465",
                "05eb903fe4be6d37",
                "8568acb5fd35a1b1"
            ]
        ]
    },
    {
        "id": "8636a91425d6639d",
        "type": "mqtt out",
        "z": "c56d6c2de4c28875",
        "name": "FOTA",
        "topic": "II16/esp32c3-D9D878/FOTA",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dcc291bb801e1410",
        "x": 1070,
        "y": 140,
        "wires": []
    },
    {
        "id": "4f1b19c8ef8e1cb2",
        "type": "mqtt out",
        "z": "c56d6c2de4c28875",
        "name": "Config",
        "topic": "II16/esp32c3-D9D878/config",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dcc291bb801e1410",
        "x": 1230,
        "y": 160,
        "wires": []
    },
    {
        "id": "360a827874cde46b",
        "type": "ui_switch",
        "z": "c56d6c2de4c28875",
        "g": "7a2c141ec0ba1873",
        "name": "",
        "label": "Switch",
        "tooltip": "",
        "group": "9e8a9cec0b15cf59",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{ \"level\":1 }",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{ \"level\":0 }",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1130,
        "y": 840,
        "wires": [
            [
                "cb87577f66361811"
            ]
        ]
    },
    {
        "id": "804628848b5f5465",
        "type": "function",
        "z": "c56d6c2de4c28875",
        "g": "7a2c141ec0ba1873",
        "name": "function 6",
        "func": "// Extraer el valor del interruptor desde el mensaje recibido\nlet switchValue = msg.payload.SWITCH;\n\n// Validar que el campo SWITCH existe\nif (switchValue === undefined) {\n    node.error(\"El mensaje no contiene el campo SWITCH.\");\n    return null;\n}\n\n// Construir el mensaje de texto\nmsg.payload = `La configuración del interruptor es ${switchValue}`;\n\n// Devolver el mensaje para el siguiente nodo\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 740,
        "wires": [
            [
                "ae7656d195a3a244"
            ]
        ]
    },
    {
        "id": "ae7656d195a3a244",
        "type": "ui_text",
        "z": "c56d6c2de4c28875",
        "d": true,
        "g": "7a2c141ec0ba1873",
        "group": "9e8a9cec0b15cf59",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1270,
        "y": 740,
        "wires": []
    },
    {
        "id": "85957080b7bd9c7d",
        "type": "telegram command",
        "z": "c56d6c2de4c28875",
        "name": "",
        "command": "/start",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "e2e809aeef1c8de1",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 290,
        "y": 1060,
        "wires": [
            [
                "41fa040bbda5a648",
                "f0e1fbba0a87f739"
            ],
            []
        ]
    },
    {
        "id": "41fa040bbda5a648",
        "type": "function",
        "z": "c56d6c2de4c28875",
        "name": "mensaje bienvenida",
        "func": "if(msg.payload.content.substring(0,1)!=\"/\")\n{\n msg.payload.content=\"Hola soy el bot del Grupo 16 de Informática Industrial. Puedo responderte a estos comandos:\\n/start\\n/Apaga_LED\\n/Enciende_LED\\n/Brillo\";\n return msg;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 1060,
        "wires": [
            [
                "37d52fc1acb14280",
                "96092f82238d7a87"
            ]
        ]
    },
    {
        "id": "37d52fc1acb14280",
        "type": "telegram sender",
        "z": "c56d6c2de4c28875",
        "name": "",
        "bot": "e2e809aeef1c8de1",
        "haserroroutput": false,
        "outputs": 1,
        "x": 750,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "f0e1fbba0a87f739",
        "type": "debug",
        "z": "c56d6c2de4c28875",
        "name": "debug 75",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 1020,
        "wires": []
    },
    {
        "id": "96092f82238d7a87",
        "type": "debug",
        "z": "c56d6c2de4c28875",
        "name": "debug 76",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 1020,
        "wires": []
    },
    {
        "id": "28b9876cfbbb8399",
        "type": "telegram command",
        "z": "c56d6c2de4c28875",
        "name": "",
        "command": "/Apaga_LED",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "e2e809aeef1c8de1",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 270,
        "y": 1140,
        "wires": [
            [
                "ed748bef99cea673"
            ],
            []
        ]
    },
    {
        "id": "cba8f1c3a77385f6",
        "type": "telegram receiver",
        "z": "c56d6c2de4c28875",
        "name": "",
        "bot": "e2e809aeef1c8de1",
        "saveDataDir": "",
        "filterCommands": true,
        "x": 250,
        "y": 1020,
        "wires": [
            [
                "41fa040bbda5a648"
            ],
            []
        ]
    },
    {
        "id": "ed748bef99cea673",
        "type": "function",
        "z": "c56d6c2de4c28875",
        "name": "Apagar",
        "func": "msg.mensaje=msg.payload;\n\nmsg.payload= { \"level\":0 }\n\n\n/*msg.payload=msg.mensaje;\nmsg.payload.content=\"La temperatura es de \"+temp+\"ºC\\n\";\nmsg.payload.content+=\"Última actualización: \"+fecha.toLocaleString('es-ES', { timeZone: 'Europe/Madrid', hour12: false });*/\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 1140,
        "wires": [
            [
                "b478b2679b7c8e35",
                "9c80147a065aa224"
            ]
        ]
    },
    {
        "id": "f233c41046b20782",
        "type": "debug",
        "z": "c56d6c2de4c28875",
        "g": "16fded412834b3bb",
        "name": "LED Hex",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 540,
        "wires": []
    },
    {
        "id": "a325535685f12bbf",
        "type": "link in",
        "z": "c56d6c2de4c28875",
        "g": "16fded412834b3bb",
        "name": "On/Off hacia el LED",
        "links": [
            "b478b2679b7c8e35"
        ],
        "x": 485,
        "y": 500,
        "wires": [
            [
                "6ee224836a9838c2"
            ]
        ]
    },
    {
        "id": "b478b2679b7c8e35",
        "type": "link out",
        "z": "c56d6c2de4c28875",
        "name": "Apaga LED",
        "mode": "link",
        "links": [
            "43f999a0952c319b",
            "a325535685f12bbf"
        ],
        "x": 565,
        "y": 1160,
        "wires": []
    },
    {
        "id": "786f83de1cece149",
        "type": "telegram command",
        "z": "c56d6c2de4c28875",
        "name": "",
        "command": "/Enciende_LED",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "e2e809aeef1c8de1",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 260,
        "y": 1180,
        "wires": [
            [
                "b6bdb14aafab8b0f"
            ],
            []
        ]
    },
    {
        "id": "b6bdb14aafab8b0f",
        "type": "function",
        "z": "c56d6c2de4c28875",
        "name": "Encender",
        "func": "msg.mensaje=msg.payload;\n\nmsg.payload= { \"level\":1 }\n\n\n/*msg.payload=msg.mensaje;\nmsg.payload.content=\"La temperatura es de \"+temp+\"ºC\\n\";\nmsg.payload.content+=\"Última actualización: \"+fecha.toLocaleString('es-ES', { timeZone: 'Europe/Madrid', hour12: false });*/\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 1180,
        "wires": [
            [
                "b478b2679b7c8e35",
                "9c80147a065aa224"
            ]
        ]
    },
    {
        "id": "43f999a0952c319b",
        "type": "link in",
        "z": "c56d6c2de4c28875",
        "g": "7a2c141ec0ba1873",
        "name": "Hacia el LED",
        "links": [
            "b478b2679b7c8e35"
        ],
        "x": 1155,
        "y": 800,
        "wires": [
            [
                "cb87577f66361811"
            ]
        ]
    },
    {
        "id": "9c80147a065aa224",
        "type": "telegram sender",
        "z": "c56d6c2de4c28875",
        "name": "LED On/Off",
        "bot": "e2e809aeef1c8de1",
        "haserroroutput": false,
        "outputs": 1,
        "x": 730,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "caa65d291ad7830a",
        "type": "telegram command",
        "z": "c56d6c2de4c28875",
        "name": "",
        "command": "/Brillo",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "e2e809aeef1c8de1",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 290,
        "y": 1300,
        "wires": [
            [
                "06c42e41d26f4338",
                "782245a623ba26ab"
            ],
            []
        ]
    },
    {
        "id": "2556617404ea77e6",
        "type": "debug",
        "z": "c56d6c2de4c28875",
        "g": "c6cfdbdf7a263e02",
        "name": "Datos",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 250,
        "y": 720,
        "wires": []
    },
    {
        "id": "06c42e41d26f4338",
        "type": "function",
        "z": "c56d6c2de4c28875",
        "name": "Pregunta Brillo",
        "func": "/*// El mensaje completo de Telegram\nlet message = msg.payload.content;\n\n// Verifica si el mensaje sigue el formato '/brillo [número]'\nlet match = message.match(/^\\/brillo (\\d+)$/);\n\nif (match) {\n    // Extrae el número (por ejemplo, \"75\")\n    let brillo = parseInt(match[1], 10);\n    \n    // Envía el valor a la salida\n    msg.payload = { brillo: brillo };\n    if(msg.payload>=0 && msg.payload<=100){\n        return msg;\n    }else {\n    // Si no hay un número, ignora el mensaje\n    return null;\n    }\n} else {\n    // Si no hay un número, ignora el mensaje\n    return null;\n}*/\n\n/*let message = msg.payload.content;\n// Verifica si el mensaje sigue el formato '/brillo [número]'\nlet match = message.match(/^\\/brillo (\\d+)$/);\n// Extrae el número (por ejemplo, \"75\")\n    let brillo = parseInt(match[1], 10);\n    \n    // Envía el valor a la salida\n    msg.payload = { brillo: brillo };\n    return msg;*/\n\n    // El mensaje completo de Telegram\nlet message = msg.payload.content;\n\n// Verifica si el mensaje empieza con '/brillo'\nif (message.startsWith('/brillo')) {\n    // Divide el mensaje en partes usando un espacio como separador\n    let parts = message.split(' ');\n\n    // Asegúrate de que hay una segunda parte y que es un número\n    if (parts.length > 1 && !isNaN(parts[1])) {\n        let brillo = parseInt(parts[1], 10);\n\n        // Envía el número a la salida\n        msg.payload = { brillo: brillo };\n        return msg;\n    }\n}\n\n// Si no se cumple la condición, descarta el mensaje\nreturn null;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 1300,
        "wires": [
            [
                "5b5a51e7f7ba48ae",
                "1223dc4e1b3a547f"
            ]
        ]
    },
    {
        "id": "5b5a51e7f7ba48ae",
        "type": "link out",
        "z": "c56d6c2de4c28875",
        "name": "Brillo LED",
        "mode": "link",
        "links": [
            "759db0777e841359"
        ],
        "x": 615,
        "y": 1300,
        "wires": []
    },
    {
        "id": "759db0777e841359",
        "type": "link in",
        "z": "c56d6c2de4c28875",
        "g": "a7c5d9db618f8872",
        "name": "Brillo hacia el LED",
        "links": [
            "5b5a51e7f7ba48ae"
        ],
        "x": 735,
        "y": 520,
        "wires": [
            [
                "b77c22f2e152d58a"
            ]
        ]
    },
    {
        "id": "da678a61bc41b129",
        "type": "inject",
        "z": "c56d6c2de4c28875",
        "g": "a7c5d9db618f8872",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "25",
        "payloadType": "num",
        "x": 920,
        "y": 580,
        "wires": [
            [
                "b77c22f2e152d58a"
            ]
        ]
    },
    {
        "id": "782245a623ba26ab",
        "type": "debug",
        "z": "c56d6c2de4c28875",
        "name": "debug 77",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 1340,
        "wires": []
    },
    {
        "id": "1223dc4e1b3a547f",
        "type": "debug",
        "z": "c56d6c2de4c28875",
        "name": "debug 78",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 1260,
        "wires": []
    },
    {
        "id": "05eb903fe4be6d37",
        "type": "debug",
        "z": "c56d6c2de4c28875",
        "g": "7a2c141ec0ba1873",
        "name": "LED Switch",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 700,
        "wires": []
    },
    {
        "id": "8568acb5fd35a1b1",
        "type": "change",
        "z": "c56d6c2de4c28875",
        "g": "7a2c141ec0ba1873",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.level",
                "pt": "msg",
                "to": "payload.SWITCH",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload.SWITCH",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.CHIPID",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 840,
        "wires": [
            [
                "360a827874cde46b"
            ]
        ]
    },
    {
        "id": "4f6ee14e84c47401",
        "type": "ui_text",
        "z": "c56d6c2de4c28875",
        "g": "5ff9e86f9698e695",
        "group": "be165c6094b73de4",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CHIPID",
        "format": "{{msg.payload.CHIPID}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 480,
        "y": 200,
        "wires": []
    },
    {
        "id": "a2b5e6b77e01b75a",
        "type": "ui_text",
        "z": "c56d6c2de4c28875",
        "g": "5ff9e86f9698e695",
        "group": "be165c6094b73de4",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Estado",
        "format": "{{payload.status}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 480,
        "y": 240,
        "wires": []
    },
    {
        "id": "b118104fe90db9c6",
        "type": "ui_text",
        "z": "c56d6c2de4c28875",
        "g": "5ff9e86f9698e695",
        "group": "be165c6094b73de4",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Actualizado:",
        "format": "{{msg.dateTime}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 470,
        "y": 280,
        "wires": []
    },
    {
        "id": "127ca1831f227bec",
        "type": "function",
        "z": "c56d6c2de4c28875",
        "g": "5ff9e86f9698e695",
        "name": "DateTime",
        "func": "var currentDate = new Date();\n\nconst currDate = currentDate.getDate() + \"/\"\n    + (currentDate.getMonth() + 1) + \"/\"\n    + currentDate.getFullYear();\n\nvar tempH;\nvar tempM;\nvar tempS;\n\nif (currentDate.getSeconds() >= 10)\n{\n    tempS = currentDate.getSeconds();\n    }\nelse\n{\n    tempS = \"0\" + currentDate.getSeconds();\n}\n\nif (currentDate.getMinutes() >= 10)\n{\n    tempM = currentDate.getMinutes();\n    }\nelse\n{\n    tempM = \"0\" + currentDate.getMinutes();\n}\n\nif (currentDate.getHours() >= 10)\n{\n    tempH = currentDate.getHours();\n    }\nelse\n{\n    tempH = \"0\" + currentDate.getHours();\n}\n\n\nconst currTime = tempH + \":\"\n    + tempM + \":\"\n    + tempS;\n\nmsg.date = currDate;\nmsg.time = currTime;\nmsg.dateTime = currDate + \"  \" + currTime;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 280,
        "wires": [
            [
                "b118104fe90db9c6"
            ]
        ]
    },
    {
        "id": "c2ae8c489e5dce55",
        "type": "function",
        "z": "c56d6c2de4c28875",
        "g": "5ff9e86f9698e695",
        "name": "online status",
        "func": "if (msg.payload.online == \"true\")\n{\n    msg.payload.status = \"conectado\"\n}\nelse\n{\n    msg.payload.status = \"desconectado\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 240,
        "wires": [
            [
                "a2b5e6b77e01b75a"
            ]
        ]
    },
    {
        "id": "dcc291bb801e1410",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9e8a9cec0b15cf59",
        "type": "ui_group",
        "name": "LEDs",
        "tab": "886291c5904a2cf6",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9cb3afe23639a28c",
        "type": "ui_group",
        "name": "Datos",
        "tab": "886291c5904a2cf6",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "be165c6094b73de4",
        "type": "ui_group",
        "name": "Conexión",
        "tab": "886291c5904a2cf6",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e2e809aeef1c8de1",
        "type": "telegram bot",
        "botname": "Grupo16bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "testenvironment": false,
        "updatemode": "polling",
        "addressfamily": "",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "886291c5904a2cf6",
        "type": "ui_tab",
        "name": "Proyecto",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]